
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Recipe Book</a>
          >
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li routerLinkActive="active" *ngIf="isAuthenticated" >
                    <a class="nav-link" routerLink ='/recipes'  >Recipes</a></li>
                <li routerLinkActive="active">
                    <a class="nav-link" routerLink ='/auth' *ngIf="!isAuthenticated">Authenticate</a></li>
                <li routerLinkActive="active">
                    <a class="nav-link" routerLink ='/Shopping-list' >Shopping List</a></li> 
             </ul>
        </div>
    
    <div class="nav navbar-nav navbar-right">
        <li *ngIf="isAuthenticated">
            <a  style="cursor: pointer; background-color: aqua; padding: 10px;" (click) ="onLogout()"> Logout </a> |
        </li>

        <div class="btn-group" appDropDown #r="appDropDown" *ngIf="isAuthenticated" >
            <button style="cursor: pointer" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
             Manage
              <span class="caret"></span></button>
            <ul class="dropdown-menu" [ngClass]="{'show':r.isOpen}" >
              <li><a  style="cursor: pointer"class="dropdown-item" (click)="onSaveData()">Save Data</a></li>
              <li><a  style="cursor: pointer" class="dropdown-item" (click)="onFetchData()">Fetch Datae</a></li>
            </ul>
          </div>
        <!-- <ul>
            <li class="dropdown" appDropdown>
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a> -->
                <!-- <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Manage</a> -->

                <!-- <ul class="dropdown-menu ">
                <li><a href="#">Save Data</a></li>
                <li><a href="#">Fetch Data</a></li>
                 </ul> -->
                <!-- <div class="dropdown-menu"appDropDown #r="appDropDown"  >
                    <a class="dropdown-item"  href="#">Save Data</a>
                    <a class="dropdown-item" href="#">Fetch Data</a>

                </div>
            </li>
        </ul> -->
    </div>
 </div>
</nav>